
.bleuofficiel
{
    color: rgb(128,200,255);
}

.vertofficiel
{
    color: rgb(56,161,98);
}

p
{
    font-size: 20px;
}

.photobg
{
    background-image: url("../img/fond de certificat.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.photobg2
{
    background-image: url("../img/présentation 2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.noir
{
    background-color: rgba(0,0,0,1);
}
.white
{
    color: white;
}
.icons
{
    max-width: 200px ;
}
.imagedepub
{
    max-width: 600px ;
}
.imagelogo
{
    max-width: 400px ;
}
.policeprincipal
{
    font-family: 'Oswald', sans-serif;
}

.h1upgrade
{
    font-size: 50px;
}

.carousel-indicators li {
    background-color : rgb(128,200,255);
}
.carousel-indicators .active {
    background-color : rgb(56,161,98);
}
.policepage
{
    font-size: 80px;
}

.btn-primary {
    color: #fff;
    background-color: rgb(128,200,255);
    border-color: rgb(128,200,255);

}
.btn-success {
    color: #fff;
    background-color: rgb(56,161,98);
    border-color: rgb(56,161,98);
}
.btn {

    font-size: 25px;

}
.nav-item
{
    font-size: 25px;
}
@media only screen and (max-width: 600px)
{
    .policepage
    {
        font-size: 40px;
    }

    .imagelogo
    {
        max-width: 200px ;
    }
    h3
    {
        font-size: 25px ;
    }

}




/*************************************************************************
**********************BAR DE NAVIGATION COULEUR TWBS**********************
************************************************************************* */

.navbar {
    background-color: #ffffff;
}
.navbar .navbar-brand {
    color: #38a162;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #80c8ff;
}
.navbar .navbar-text {
    color: #38a162;
}
.navbar .navbar-text a {
    color: #80c8ff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #80c8ff;
}
.navbar .navbar-nav .nav-link {
    color: #38a162;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #80c8ff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #80c8ff;
    background-color: #ffffff;
}
.navbar .navbar-toggle {
    border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #38a162;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #38a162;
}
.navbar .navbar-link {
    color: #38a162;
}
.navbar .navbar-link:hover {
    color: #80c8ff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #38a162;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #80c8ff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #80c8ff;
        background-color: #ffffff;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #38a162;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #80c8ff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #80c8ff;
        background-color: #ffffff;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #38a162;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #80c8ff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #80c8ff;
        background-color: #ffffff;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #38a162;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #80c8ff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #80c8ff;
        background-color: #ffffff;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #38a162;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #80c8ff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #80c8ff;
    background-color: #ffffff;
}

/*****************************************************************************
****************************FIN DU CODE DE NAVIGATION*************************
***************************************************************************** */