html, body
{
    margin: 0;
    height: 100%;
}

.bg
{
    background-image: url("../img/startup.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.hauteur100
{
    height: 100%;
}
.bgbrun
{
    background-color: saddlebrown;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.hrtitre
{
    padding-bottom:10px;
    padding-top:0px;
    max-width: 125px;
    border-width: 3px;
    border-color: white;

}
.hrsecond
{
    padding-bottom:10px;
    padding-top:0px;
    max-width: 125px;
    border-width: 3px;
    border-color: gray;
}
.hrtierce
{
    padding-bottom:10px;
    padding-top:0px;
    max-width: 125px;
    border-width: 3px;
    border-color: black;
}
.texteblanc
{
    color: white;
}

.paddingtop
{
    padding-top: 100px;
}
.paddingbottom
{
    padding-bottom: 100px;
}
.padding0
{
    padding: 0px;
}
.profilepic
{
    max-width: 200px;
}
.commentpic
{
    max-width: 100px;
}
.statuspadingcell
{
    padding-right: 300px;
}