html, body
{
    margin: 0;
    height: 100%;
}

.texteblanc
{
    color: white;
}

.paddingtop
{
    padding-top: 50px;
}
.paddingbottom
{
    padding-bottom: 50px;
}
.padding0
{
    padding: 0px;
}
.parallax1
{
    background-image: url("../img/juliePushup.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2
{
    background-image: url("../img/julieBeachbody.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3
{
    background-image: url("../img/juliereflet2.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carrejaune
{
    background-color: rgba(224,217,29,.5);
}

.rectancleblanc
{
    background-color: rgba(255,255,255,.5);
}
.fondvert
{
    background-color: green;
}
.fondbrun
{
    background-color: burlywood;
}
.fondbleu
{
    background-color: dodgerblue;
}
header
{
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container
{
    position: relative;
    z-index: 2;
}
header .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
