html, body
{
    margin: 0;
    height: 100%;
}

.texteblanc
{
    color: white;
}

@font-face
{
    font-family: hero;
    src: url("../font/heros.ttf");
}
@font-face
{
    font-family: cominica;
    src: url("../font/cominicabold.ttf");
}
.titrePrincipal
{
    font-family: hero;
}
.titreSecondaire
{
    font-family: 'Montserrat', sans-serif;
}
.titretransitoire
{
    font-family: cominica;
}
.padding0
{
    padding: 0px;
}
 .imgbacktop
 {
     background-color: white;
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
 }

.parallax1
{
    background-image: url("../img/Marvel web.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2
{
    background-image: url("../img/DC web.jpg");
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carrenoir
{
    background-color: rgba(0,0,0,.5);
}

.rectancleblanc
{
    background-color: rgba(255,255,255,.75);
}
.fondbleu
{
    background-color: dodgerblue;
}
.fondrouge
{
    background-color: red;
}

header
{
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header video
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
header .container
{
    position: relative;
    z-index: 2;
}
header .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}
@media screen and (max-width: 575px)
{
    header
    {
        background-image: url("../img/imgcell.jpg");
    }
    .fondbleu
    {
        background-color: dodgerblue;
    }
    .fondrouge
    {
        background-color: red;
    }
    .parallax1
    {
        background-image: url("../img/Marvel web.jpg");
        height: 567px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .parallax2
    {
        background-image: url("../img/DC web.jpg");
        height: 567px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .maxwith
    {
        max-height: 567px;
    }

}


@media screen and (min-height: 576px)and (max-width: 767px)
{

}