/*premiere experience css*/
/* programmé par Olivier Normandin */
/* le 7 mars 2019 */


body {
    width: 900px;
    margin: auto;
    text-align: center;

    background: rgb(255%, 000%, 000%);

    background-image: url("../img/quote spiderman.jpg");
    background-repeat: no-repeat;
    margin: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

p {
    font-size: 14px;
    text-align: justify;
    color: white;
}

img {
    width: 300px;
}

table{
    border-collapse: collapse;
}

table, th,td{
    border: 5px white;
}



/* lien neutre*/
a:link {
    color: aqua;
}

/*lien visite*/
a:visited {
    color: blue;
}

/* couleur de souris dessus */
a:hover {
    color: pink;
}